---
layout: default
---

{% include big_header.html %}

{% include nav.html %}

<main>
  {% assign description=site.pages|where:"ref","description"|where:"lang",page.lang|first %}
  <div id="bookDescription">
    <div class="descriptionImage" style="background: url('{{ description.image }}'); background-size: cover; background-position: center center"/></div>
    <div class="descriptionText">
      <h1>{{ description.title }}</h1>
      {{ description.content }}
    </div>
  </div>

  {% assign group=site.pages|where:"ref","group"|where:"lang",page.lang|first %}
  <div id="group">
    <img src="{{ group.image }}"/>
    <div class="groupText">
      <h1 class="sectionTitle">{{ group.title }}</h1>
      <h2>{{ group.subtitle }}</h2>
      {{ group.content }}
    </div>
  </div>

  {% assign prologue=site.pages|where:"ref","prologue"|where:"lang",page.lang|first %}
  <div id="prologue">
    <h1 class="sectionTitle"><a href="/stories/aaprologoa.html">{{ prologue.title }}</a></h1>
    <h2>{{ prologue.subtitle }}</h2>
    <p>{{ prologue.summary }}</p>
    <img src="{{ prologue.image }}"/>
  </div>

  <div id="stores">
    <img src="/images/header.jpg"/>
    <h1 class="sectionTitle">{{ site.t[page.lang].stores }}</h1>
    <ul>
      {% for store in site.stores %}
      <li>
        <img src="{{ store.image }}"/>
        <h1>{{ store.title }}</h1>
        {{ store.content }}
        {% if store.link %}<a class="storeLink" href="{{ store.link }}">Webgunea</a>{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  {% assign presentation=site.pages|where:"ref","presentation"|where:"lang",page.lang|first %}
  <div id="presentation">
    <h1>{{ presentation.title }}</h1>
    {{ presentation.content }}
  </div>

  <div id="events">
    <h1 class="sectionTitle">{{ site.t[page.lang].nextevents }}</h1>
    <h2>{{ site.t[page.lang].agenda }}</h2>
    <ul>
      {% for event in site.events %}
      <li>
        <div class="eventImage" href="{{ event.url }}" style="background: url('{{ event.image }}'); background-size: cover; background-position: center center;"/></div>
        <div class="eventText">
          <div class="center">
            <p class="date">{{ event.date | date: "%m" }}/<span class="day">{{ event.date | date: "%d" }}</span></p>
            <p class="place">{{ event.time }}</p>
            <p class="place">{{ event.place }}</p>
            <h1>{{ event.title }}</h1>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% assign nagore=site.pages|where:"ref","nagore"|where:"lang",page.lang|first %}
  <div id="nagore">
    {{ nagore.content }}
    <h1>{{ nagore.title }}</h1>
    <h2>{{ nagore.subtitle }}</h2>
  </div>

  <div class="news">
    <h1 class="sectionTitle">{{ site.t[page.lang].news }}</h1>
    <ul>
      {% for post in site.posts %}
      <li>
        <a class="newsImage" href="{{ post.url }}" style="background: url('{{ post.image }}'); background-size: cover; background-position: center;"/></a>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <ul class="info"><li>{{ post.date | date: "%d/%m/%y" }}</li>{% if post.media %}<li>| {{ post.media }}</li>{% endif %}</ul>
        {{ post.summary }}...
      </li>
      {% endfor %}
    </ul>
    <a id="moreNews" href="/berriak">{{ site.t[page.lang].morenews }}</a>
  </div>

  <div id="stories">
    <ul>
      {% for story in site.stories %}
      <li>
        <div class="square-content" style="background: url('{{ story.thumbnail }}'); background-size: cover;">
          <div>
            <a href="{{ story.url }}">{{ story.title }}<span class="writter">{{ story.writter }}</span><span class="illustrator">{{ story.illustrator }}</span></a>
        </div>
      </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
