.news
  text-align: center
  padding: 5% 0
  h1
    text-align: center
  ul
    margin: 0
    padding: 0 3%
    font-size: 0
    text-align: left
    li
      list-style: none
      width: 50%
      text-align: justify
      padding: 3%
      font-size: .9rem
      vertical-align: top
      line-height: 1.7em
      display: none
      a.newsImage
        height: 20rem
        vertical-align: middle
        overflow: hidden
        display: block
        width: 100%
      h2
        font-size: 1.7rem
        margin-top: 1em
        line-height: 1.5em
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
        display: inline-block
    ul.info
      color: grey
      border-top: .1rem dashed grey
      border-bottom: .1rem dashed grey
      padding: .2rem 0
      width: 100%
      margin-bottom: 1rem
      li
        width: auto
        font-size: .8rem
        display: inline-block
        padding: 0 .4em 0 0
    &.newsList
      li
        display: inline-block
  a#moreNews
    background: grey
    color: white
    padding: 1% 8%
    margin-top: 1%
    display: inline-block
    font-size: 1.5em
    &:hover
      background: #575757

  @media screen and (max-width: 40em)
    ul
      li
        width: 100%
        margin-bottom: 10%
