#prologue
  background: url('../images/fondoa.gif')
  text-align: center
  color: white
  padding: 4% 6%
  img
    border-radius: 100%
    display: block
    margin: 0 auto
  p
    line-height: 1.5em
    margin-bottom: 0
