@font-face
  font-family: "Raleway"
  src: url(../fonts/Raleway/Raleway-Regular.ttf)
@font-face
  font-family: "Raleway"
  src: url(../fonts/Raleway/Raleway-Bold.ttf)
  font-weight: bold
@font-face
  font-family: "GeosansLight"
  src: url(../fonts/GeosansLight.ttf)
@font-face
  font-family: "Oranienbaum"
  src: url(../fonts/Oranienbaum.ttf)

body
  font-family: Raleway
  margin: 0
  main
    min-height: 65vh

*
  box-sizing: border-box

=line
  content: ""
  display: inline-block
  height: 1px
  width: 2em
  margin-right: -2em

a
  text-decoration: none
  color: black
  font-weight: bold

h1.sectionTitle
  font-size: 5rem
  margin: 0 auto 1rem auto
  display: inline-block
  padding: .3rem .6rem
  &:before, &:after
    border-bottom: .1rem solid #adadad
    content: ""
    padding: .2rem 2rem 0 2rem

h1
  a
    font-weight: normal

