#stores
  text-align: center
  img
    width: 15%
    margin: 2% auto 2% auto
    display: block
  ul
    padding: 1% 15%
    li
      list-style: none
      display: inline-block
      width: 33%
      padding: 2%
      color: #3e3e3e
      img
        width: 80%
        display: block
        margin: 0 auto 1rem auto
        border-radius: 100%
        border: solid .7em #e3e3e3
      h1
        font-size: 2em
      p
        margin-bottom: 1.2em
      .storeLink
        color: white
        background: #3e3e3e
        font-size: .8em
        padding: .5em
        border-radius: .3em
