#stores
  text-align: center
  img
    width: 15%
    margin: 2% auto 0 auto
    display: block
  h1
    font-size: 4em
    margin: 0 auto
    border-bottom: .01em solid #adadad
    display: inline-block
    padding: .3em .6em
  ul
    padding: 1% 15%
    li
      list-style: none
      display: inline-block
      width: 33%
      padding: 2%
      img
        width: 100%
        display: block
        margin: 0 auto 1rem auto
        opacity: .2
        &:hover
          opacity: 1
      a
        color: black
        font-size: 2em
