<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />

    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.description.author.name }}" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>


  <body>

    {{ content }}

    <footer id="contact">
      <div class="column">
        <p>Lizentzia bla bla</p>
      </div>
      <div class="column">
        <p><img src="images/parean.png"/>Iluntasunetik argitasunera bidea eraikitzen.</p>
        <ul id="social">
          <li><a href="FATXABUK"><img src="images/social/facebook.svg"/></a></li>
          <li><a href="TWITTER"><img src="images/social/twitter.svg"/></a></li>
          <li><a href="FLICKR"><img src="images/social/flickr.svg"/></a></li>
        </ul>
      </div>
      <div class="third column">
        <p>Webgunearen egilea: <a href="http://iune.info">Iune Trecet Obeso</a></p>
        <a class="repository" href="https://github.com/GogoratzenNauzuenetan/gogoratzennauzuenetan.github.io">Kodearen biltegia</a>
        <img src="images/gpl.svg"/>
      </div>
    </footer>
  </body>
</html>
