<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />

    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.description.author.name }}" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>


  <body>

    {{ content }}

    <footer id="contact">
      <div class="first column">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons-en baimena" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>Webgune hontako edukia <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Aitortu-EzKomertziala-PartekatuBerdin 4.0 Nazioartekoa Baimen</a> baten mende dago.
      </div>
      <div class="second column">
        <img id="parean" src="/images/parean.png"/>
        <ul id="social">
          <li><a href="FATXABUK"><img src="/images/social/facebook.svg"/></a></li>
          <li><a href="TWITTER"><img src="/images/social/twitter.svg"/></a></li>
          <li><a href="FLICKR"><img src="/images/social/flickr.svg"/></a></li>
        </ul>
      </div>
      <div class="third column">
        <p>Webgunearen egilea: <a href="http://iune.info">Iune Trecet Obeso</a></p>
        <a class="repository" href="https://github.com/GogoratzenNauzuenetan/gogoratzennauzuenetan.github.io">Kodearen biltegia</a>
        <img id="gpl" src="/images/gpl.svg"/>
      </div>
    </footer>
  </body>
</html>
